# FastAPI Host config
UVICORN_HOST=0.0.0.0

# Available Model providers
MODEL_NAME=openai/mercury-2
MODEL_API_BASE_URL=https://api.inceptionlabs.ai/v1
MODEL_API_KEY=your_model_api_key

TAVILY_API_KEY=your_tavily_key
GOOGLE_API_KEY=your_google_key
INCEPTION_API_KEY=your_inception_key
